
#product-img {
    width: 100px;
    height: 100px;
}

.delete-icon {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.841);
    transition: ease 0.50s;
}

.delete-icon:hover {
    color: rgba(255, 0, 0, 0.841);
    font-size: 35px;
}

